<div class="relative h-[100vh] pt-6 flex justify-center overflow-hidden">
  <!-- Fundo com blur e zoom -->
  <div
    class="absolute inset-0 bg-center bg-cover filter blur-md scale-110 transform"
    [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + ruralProperties?.image + ')' }"
  ></div>

  <!-- Overlay escuro -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Conteúdo -->
  <div class="relative z-10 w-10/12 text-white">
    <div class="grid grid-cols-2 gap-12">
      <div class="flex justify-end">
        <img
          [src]="'data:image/png;base64,' + ruralProperties?.image"
          class="rounded-xl object-cover w-140"
        />
      </div>

      <div>
        <h2 class="text-4xl font-bold">{{ ruralProperties?.placeName }}</h2>
        <p class="text-xl">Endereço: {{ ruralProperties?.address }}</p>
        <p class="text-xl">Proprietário: {{ ruralProperties?.ownerName }}</p>
        <p class="text-xl">Tamanho: {{ ruralProperties?.size }} m²</p>
        <p class="text-xl">Agrotóxico: {{ ruralProperties?.agroChemicals }}</p>
      </div>
    </div>

    <div class="flex justify-center pt-4">
      <p class="text-xl text-left w-full">
        {{ ruralProperties?.description }}
      </p>
    </div>
  </div>
</div>
