
input {
  font-size: 1rem;
  padding-left: 1.5rem;
  transition: border-color 0.15s ease-in-out;
}

input:focus {
  border-bottom: 2px solid var(--primary-blue-2);
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.custom-image-upload {
  background-color: rgba(0, 0, 0, 0.119);
}

.custom-change-image-upload:hover {
  opacity:100%;
}

.custom-change-image-upload {
  opacity:0;
  background-color: var(--primary-blue-6-2);
  transition: opacity 0.15s ease-in-out;
}
