<div class="p-6">
  <div class="flex justify-center gap-12">

    <img [src]="userDetails?.user?.userImage ? `data:image/png;base64,${userDetails?.user?.userImage}` : '/no-profile-image.png'"
     class="rounded-full object-cover size-64" />
    <div class="pt-4">
      <h2 class="text-4xl font-bold">{{ userDetails?.user?.fullName }}</h2>
      <p class="text-xl">Email: {{ userDetails?.user?.email }}</p>



      <div class="flex items-center my-4">
        <input id="level-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 focus:ring-2">
        <label for="level-1" class="ms-2">Usuário padrão</label>
      </div>

      <div class="flex items-center mb-4">
        <input id="level-2" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 focus:ring-2">
        <label for="level-2" class="ms-2">Diretor de divisões</label>
      </div>

      <div class="flex items-center mb-4">
        <input id="level-3" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 focus:ring-2">
        <label for="level-3" class="ms-2">Ministro do meio ambiente</label>
      </div>
    </div>


  </div>



  <div class="pt-6">
      @if (this.userDetails && ( this.userDetails.user.digitalImages?.length == 0 || !this.userDetails.user.digitalImages)) {
        <p class="text-center text-gray-500">Nenhuma imagem de digital disponível.</p>
      }
      @else {
        <section>
          <div class="container">
            <div class="carousel">
              <input type="radio" name="slides" checked="checked" id="slide-1">

              @for (digitalImage of userDetails?.user?.digitalImages; track $index) {
                @if ($index + 1 > 1) {
                  <input type="radio" name="slides" [id]="'slide-' + ($index + 1)">
                }
              }

              <ul class="carousel__slides rounded-xl">
                @for (digitalImage of userDetails?.user?.digitalImages; track $index) {
                  @if (digitalImage) {
                    <li class="carousel__slide">
                        <img class="object-contain w-full" [src]="digitalImage ? `data:image/png;base64,${digitalImage}` : ''">
                  </li>
                  }
                }
              </ul>

              <ul class="carousel__thumbnails flex justify-center">
                @for (digitalImage of userDetails?.user?.digitalImages; track $index) {
                  @if (digitalImage) {
                    <li class="rounded-lg">
                      <label [for]="'slide-' + ($index + 1)">
                        <img [src]="digitalImage ? `data:image/png;base64,${digitalImage}` : ''" class="rounded-lg">
                      </label>
                    </li>
                  }
                }
              </ul>
            </div>
          </div>
        </section>
      }



  </div>
</div>
